#include "resource.h"
#include <winuser.h>

CREATEPROCESS_MANIFEST_RESOURCE_ID	RT_MANIFEST "..\\res\\vpnelapsedtimer.exe.manifest"

IDI_SYSTRAY_NORMAL      ICON                    "..\\res\\generic_picture.ico"

IDR_TRAYMENU MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "About...",                        ID_TRAYMENU_ABOUT
        MENUITEM SEPARATOR
        MENUITEM "Exit",                            ID_TRAYMENU_EXIT
    END
END

